.text {
    font-size: 2.5rem;
    margin-bottom: 12px !important;
}

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.create-box img,
.upload-box img {
    width: 55px;
    height: 55px;
}

.create-box,
.upload-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #4385fe;
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.create-box:hover {
    background-color: #3b5892;
}

.upload-box:hover {
    background-color: #3b5892;
}

.create-box span,
.upload-box span {
    margin-top: 15px;
    width: 10rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 12px;
}
